html
    head
        link(rel='stylesheet' href='/css/404.css')
    body
        .box
            h1 Nothing here...
            h3 404 error
        footer
            a(href='../') Back to main page


